<!-- kontener na stopkę -->
<footer class="bottom-0 items-end">
    <ul class="flex justify-center ">
        <li class="p-3 enlarge-on-hover"><a target="_blank" href="https://www.linkedin.com/in/mateusz-bocak-331549244"><img src="/public/images/icons8-linkedin-50.png" alt="linkedin-icon" width="50px"></a></li>
        <li class="p-3 ml-4 enlarge-on-hover"><a target="_blank" href="https://github.com/JustFiesta"><img src="/public/images/icons8-github-50.png" alt="github-icon" width="50px"></a></li>
        <li class="p-3 ml-4 enlarge-on-hover"><a target="_blank" href="https://discordapp.com/users/460858124421562368"><img src="/public/images/icons8-discord-50.png" alt="discord-icon" width="50px"></a></li>
    </ul>

    <!-- addnotacje -->
    <div class="flex flex-col justify-center text-center">
        <span class="p-3 flex flex-row justify-center text-center text-slate-600"><p>Copyright 2023</p>&nbsp; <p class="text-light-orange hover:text-cyan-300">&copy;</p> &nbsp; <p>Mateusz Bocak</p></span>
        <div class="flex justify-center text-esm text-slate-600">
            <p><a target="_blank" href="https://icons8.com/icon/30888/discord">Discord</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>&nbsp;</p>
            <p><a target="_blank" href="https://icons8.com/icon/12599/github">GitHub</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>&nbsp;</p>
            <p><a target="_blank" href="https://icons8.com/icon/30888/discord">Discord</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
        </div>
    </div>
</footer>