<!-- kontener na menu -->
<menu class="flex items-start justify-center text-xl font-bold">
    <ul class="flex items-center mt-5">
        <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank"><li class=" enlarge-on-hover"><img src="/public/images/kot.png" alt="cat-icon" width="50px" class="flex rounded-full border-1 border-black "></li></a>
        <a href="/"><li class="ml-5 menu-icon enlarge-on-hover">HOME</li></a>
        <a href="/about_me"><li class="menu-icon enlarge-on-hover">ABOUT_ME</li></a>
        <a href="/blog"><li class="menu-icon enlarge-on-hover">BLOG</li></a>
        <a href="https://github.com/JustFiesta" target="_blank"><li class="menu-icon enlarge-on-hover">GITHUB</li></a>
        <a href="/contact"><li class="mr-8 menu-icon enlarge-on-hover">CONTACT</li></a>
        <a href=""><li class="enlarge-on-hover "><img src="/public/images/search-white.png" alt="search-loop" width="30px" class="rounded"></li></a>
    </ul>
</menu>