<!-- wpis na bloga -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My path in IT industry</title>
    <link rel="stylesheet" href="../public/output.css">
    <link rel="icon" type="image/x-icon" href="/public/images/kot.png" />
</head>
<body class="h-full w-screen bg-gradient-to-b from-grad-t to-grad-b font-lato">
    <!-- main container -->
    <div class="h-full flex flex-col">
        
        <%- include('menu'); %>

        <!-- article container -->
        <main class="flex flex-auto flex-col items-center justify-center text-neutral-200">
      
          <!-- post contents -->
          <h1 class="text-6xl m-10"><%= title %></h1>
          <article class="text-slate-900 rounded-lg bg-neutral-200 bg-opacity-90 text-xl m-10 mt-0 p-5">
             <span class="opacity-100"><%- content %></span>
          </article>

        </main>

        <%- include('footer'); %>
    </div>
    <script src=""></script>
</body>
</html>